{{> nav}}

{{#if hasAny}}
<main class="productos">
    <div class="cart_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul id="CartPool"class="cart_list">
                                {{> carritoProducts}}
                            </ul>
                        </div>
                        <div class="order_total">
                            <div class="order_total_content text-end">
                                <div class="order_total_title">Total de Compra:</div>
                                <div class="order_total_amount" id="totalPrecio">total</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart_buttons">
        <a href="/" class="btn btn-outline-dark btn-lg mx-2 px-5">Seguir Comprando</a>

        <button class="btn btn-dark btn-lg ml-2 px-5 btnCompra" variant="primary" type="submit">
            <Link to="/" class="linkCompra">Comprar</Link>

        </button>
    </div>
</main>
{{else}}
<section class="container-fluid pt-5 my-5">
    <div class="carritoVacio">
        <h2>Esto parece que está un poco vacío</h2>
        <p>¿No sabés qué comprar? seguí mirando nuestros productos</p>
        <a href="/" class="btn btn-outline-dark btn-lg mx-2 px-5">Volver al
            inicio</a>
    </div>
</section>
{{/if}}