<%- include("./partials/head.ejs") %>

<div class="container-md">
    <div class="row" style="place-content: center;">
        <h2 style="text-align:center;" class="my-4">Agregar Producto nuevo</h2>
        <form style="max-width: 70%; text-align:center" action="/productos" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Producto" name="title" required>
            </div>
            <div class="input-group mb-3">
                <input type="number" class="form-control" name="price" placeholder="Precio" required>
                <span class="input-group-text">$</span>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="text" name="thumbnail" placeholder="URL imagen" required>
            </div>
            <button type="submit" class="btn btn-primary">Cargar Producto</button>
            <div class="view__product">
                <a class="btn btn-secondary mt-2" href="/productos">Ver los productos</a>
            </div>
        </form>
    </div>
</div>